{% extends '@main/base.html.twig' %}

{% block title %}New post{% endblock %}

{% block bradCrumbs %}<span class="text-2xl">&rarr;</span> New post {% endblock %}

{% block body %}
    {{ include('@mp/include/_micro_post_form.html.twig', {form}) }}
{% endblock %}
