{% extends '@main/base.html.twig' %}

{% block title %}All posts{% endblock %}

{% block bradCrumbs %} <span class="text-2xl">&rarr;</span> All posts {% endblock %}

{% block body %}
    {{ include('@mp/_post_tabs.html.twig') }}
    {% set showAvatarInPostBlock = true %}
    {{ include('@mp/include/_post_list.html.twig', {posts}) }}
{% endblock %}