{% extends '@main/base.html.twig' %}

{% block title %}View post : {{ post.content|slice(0, 24) }}...{% endblock %}

{% block body %}
    <p>{{ post.content }}</p>
    <hr>
    Created at {{ post.id.datetime|date('d.m.Y H:i') }}
    {% if post.updateAt %}
        and update at {{ post.updateAt|date('d.m.Y H:i.s') }}
    {% endif %}
{% endblock %}
